@import "/styles/constant.scss";
.mainWrapper {
  @include glassProperty;
  width: calc(100vw - 3rem);
  height: calc(100vh - 3rem);
  border-radius: 10px;
  display: flex;
  .sidebar {
    flex: 1;
    padding: 15px 0 0 15px;
    border-right: 1px solid $borderColor;
  }
  .logo {
    display: flex;
    flex-direction: column;
    span {
      line-height: 110%;
      font-size: 20px;
      font-weight: 500;
      font-style: italic;
      color: $secondaryColor;
    }
  }
  .main {
    flex: 3;
  }
}
